.movie-section {
  padding: 50px 80px;
  background: #f5f5f5;
}

.movie-section h2 {
  text-align: center;
  margin-bottom: 30px;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.movie-card {
  background: white;
  padding: 10px;
  text-align: center;
  transition: 0.3s;
}

.movie-card:hover {
  transform: translateY(-5px);
}

.movie-card img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.movie-card button {
  margin-top: 10px;
  padding: 8px 15px;
  background: #e71a0f;
  border: none;
  color: white;
  cursor: pointer;
}