.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 40px;
  background: #111;
  color: white;
}

.left {
  font-weight: 600;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.menu-item {
  cursor: pointer;
  font-weight: 600;
  white-space: nowrap;
}

.menu-item:hover {
  color: #e71a0f;
}

.right {
  font-weight: 600;
  cursor: pointer;
}